
body {
    background-color: #202020;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.page {
    background-color: white;
    box-shadow: 2rem;
    padding: 8%;
    padding-top: 20%;
}

.button {
    background-color: black;
    border-color: black;
    -webkit-tap-highlight-color: transparent;
}

.button.button-clear {
    color: black;
    font-size: 1.3rem;
    padding: 5%;
    padding-top: 4%;
}

h1{
    color: black;
    font-size: 4rem;
}

p {
    color: rgb(43, 43, 43);
}


.center {
    text-align: center;
}

hr.rounded {
    border-top: 0.15rem solid #808080;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.project-heading {
    color: black;
    text-decoration: underline;
    font-size: 3rem;
}

.image-container {
    margin: 3%;
    margin-top: 7%;
}

.projectShowaseImg{
    border-radius: 1rem;
    box-shadow: 0px 0px 5px #dddddd;
}

a{
    color: black;
}

.img-subtext{
    color: rgb(132, 132, 132);
    font-weight: lighter;
    font-style: italic;
}

@media (min-width: 40.0rem) {
    .page {
        border-radius: 1rem;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 12%;
        margin-right: 12%;
        padding: 8%;
        padding-top: 10%;
    }

    .logo {
        width: 50%;
    }

    h1{
        font-size: 6rem;
    }

    .button.button-clear {
        color: black;
        font-size: 1.7rem;
        padding: 8%;
        padding-top: 5%;
    }
}